.MathematicaIn-Prompt
{
  /* In和Out公用一个CSS类，它们长度不同，要右对齐。	*/
color: #454e99;
margin-right: 0.5em;
font-size: 0.8em;
display: block;
width: 5em;
text-align: right;
vertical-align: top;
margin-top: 0.3em;
float: left;
text-indent: 0;
}
.MathematicaIn-Content
{
font-family: monospace;
display: block;
word-wrap: normal;
word-break: break-all;
overflow: hidden;
text-indent: 0;
}

.MathematicaIn-Content c.v-arg /*variables made special use in arguments*/
{
	color: #3c7d91
}


.MathematicaIn-Content c.global-symbol /* global symbol that have no value assigned */
{
	color: blue
}
